@model SGE.Models.TipoUsuario

@{
    ViewData["Title"] = "Create";
}
<div class="col-md-3 mx-auto text-center mt-5 justify-content-center">
    <h1>Criar Usuario</h1>
</div>
<hr />
<div class="row">
    <div id="formCentral" class="col-md-3 mx-auto">
        <form class="custom-form" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div id="btCreat" class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
