@{
    ViewData["Title"] = "Acesso Negado";
}

<div id="acessoNegado" class="container">
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h4>
                        Você não tem acesso a essa
                        pagina.
                    </h4>
                    <h5>
                        Entre em contato com o Adminstrador do Sistema.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
