@{
    ViewData["Title"] = "Página Inicial";

    var sessionEmail = Context.Session.GetString("email");
    var sessionNome = Context.Session.GetString("nome");
    var sessionTipoUsuarioId = Context.Session.GetString("tipo");

}

<div id="divHome" class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
</div>
